/* logo */


.row {
    width: 100vw !important;
    height: 100vh !important;
    
  }

  /* texto logo*/
  .association-link {
    line-height: 1.5;
    display: block;
    text-align: center;
    font-size: 27px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: rgb(35, 35, 34); /* Cambia el color a dorado */
    
    padding-bottom: 0px; /* Ajusta el margen superior según tu preferencia */
  }


  .logo-img {

    -webkit-animation: logo-img 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: logo-img 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .association-link {

    -webkit-animation: association-link 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: association-link 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


  @media (min-width: 900px) {
    .logo-img {
      display: flex;
      padding-top: 10% !important;
      padding-bottom: 0%;
      margin-top: 90px !important;
      max-width: 15%;
      max-height: 39%;
      height: auto;
      margin-left: 20px;
    }

  }



  @media (max-width: 600px) {

    .logo-img {
      display: flex;
      padding-top: 50% !important;
      padding-bottom: 80%;
      margin-top: 0px !important;
      max-width: 35%;
      max-height: 39%;
      height: auto;
      margin-left: 20px;
      
        background-color: transparent;
      }


      /* texto logo*/
      .association-link {
        
        line-height: 1.5;
        display: block;
        text-align: center;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        color: rgb(35, 35, 34); /* Cambia el color a dorado */
        
        /* Ajusta el margen superior según tu preferencia */
      }
      .redes {
        margin-left: 40px;
      }
      .ti {
        margin-left: 40px;
      }
      .flecha {
        margin-left: 40px;
      }
  }

  

  .logo-container {
    position: relative;
    overflow: hidden;
  }
  
  .logo-img {
    width: 100%;
    height: auto;
  }
  
  .light-point {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    animation: moveLight 3s linear infinite;
  }
  
  @keyframes moveLight {
    0% {
      top: -10px;
      left: -10px;
    }
    25% {
      top: -10px;
      left: calc(100% - 10px);
    }
    50% {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
    }
    75% {
      top: calc(100% - 10px);
      left: -10px;
    }
    100% {
      top: -10px;
      left: -10px;
    }
  }
  .btn {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #212529;
}

.btn:hover {
    text-decoration: none;
}

.fab {
    font-size: 1.5rem;
}

/* Estilos para los íconos */
.btn-icon {
    font-size: 24px; /* Tamaño del ícono */
    margin: 0 10px; /* Espacio entre los íconos (ajusta según tus preferencias) */
    color: #000000; /* Color negro para todos los íconos */
    transition: transform 0.2s ease, color 0.2s ease; /* Transiciones para transformación y color */
  }
  
  
  /* Efecto de iluminación al pasar el cursor */
  .btn-icon:hover {
    transform: scale(1.2); /* Hace que el ícono sea un poco más grande al pasar el cursor */
    color: #f2eeee; /* Cambia el color del ícono al pasar el cursor (ajusta según tus preferencias) */
  }


.redes {
    position: relative;
  top: 0px; /* Ajusta el valor según cuánto quieras moverlo hacia arriba */
}

.flecha {

    position: relative;
  top: -300px; 
  
}

.cierreFinal {
    position: fixed;
   
    width: 100vw !important;
    height: 100%;
  
    background-color:hsla(0,31%,47%,1);
  background-image:
  radial-gradient(at 81% 54%, hsla(36,80%,37%,0.93) 0px, transparent 50%),
  radial-gradient(at 36% 54%, hsla(30,91%,41%,1) 0px, transparent 50%),
  radial-gradient(at 0% 95%, hsla(26,88%,50%,1) 0px, transparent 50%),
  radial-gradient(at 91% 58%, hsla(60,40%,64%,0) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 100% 100%, hsla(38,82%,31%,1) 0px, transparent 50%),
  radial-gradient(at 25% 3%, hsla(30,77%,24%,1) 0px, transparent 50%);
    top: 0; /* La posición inicial es la parte superior */
    animation: subir 1s ease-in-out forwards; /* Usamos una animación llamada slide-down */
    z-index: 1000; /* Asegura que esté por encima de todo */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    box-shadow: 10px 10px 20px rgb(70, 70, 70);
    box-shadow: inset 10px 10px 20px rgb(65, 64, 64)
  }
  
  @keyframes subir {
    from {
      top: 10%; /* Comienza desde abajo */
    }
    to {
      top: 100%; /* Termina en la parte superior */
    }
  }