

<div class="row uno colorFondo elemento siempre-visible  d-flex justify-content-center align-items-center"  media="(orientation: landscape) and (min-device-width: 320px) and (max-device-width: 480px)"   [ngClass]="{'desaparecerColorFondo': shouldDisappear, 'aparecerColorFondo ': shouldAppear}" >
    <div class="col-10 col-sm-10 col-md-9 col-lg-4">
        <!-- Texto sobre nosotros -->
        <div class="texto" [ngClass]="{'desaparecerTexto':shouldDisappear, 'aparecerTexto': shouldAppear }">
            <h1 class="p1">VOLUNTARIADO</h1>
            <p class="p"> Invitamos a personas comprometidas y solidarias a unirse a nuestro

                equipo de voluntarios. Los voluntarios desempeñan un papel vital en nuestras
                
                actividades diarias y programas especiales. Si estás interesado en ser voluntario,
                
                contáctanos para obtener más información sobre cómo puedes ayudar.</p>
        </div>
    </div>
    <!-- <div class="col-8 col-sm-7 col-md-6 col-lg-4" id="contfoto1"[ngClass]="{'desaparecerFondo':shouldDisappear, 'aparecerFondo': shouldAppear }">
     
        <img src="../../../../../assets/nuestra historia/IMG_1357.JPG" alt="Imagen de la asociación" class="img-fluid img1" [ngClass]="{'desaparecer': shouldDisappear, 'aparecerImagenMision': shouldAppear }">
    </div> -->
   
   
      
</div>
  

