<div class="container" >
    <button class="button type1" (click)="scrollToElement('nosotros')">
        <i class="material-icons">home</i>
    </button>
    <button class="button type1"(click)="scrollToElement('mision')">
      mision
    </button>
    <button class="button type1"(click)="scrollToElement('vision')">
        vision
      </button>
    <button class="button type1"(click)="scrollToElement('valores')">
      valores
    </button>
    <button class="button type1"(click)="scrollToElement('comision')">
        directiva
      </button>
     

      
    <!-- (click)="toQuienessomos()" routerLink="/quienesomos" role="button" routerLinkActive="active" -->
  </div>