<div class="container" >
    <button class="button type1" (click)="scrollToElement('historia')">
        <i class="material-icons">home</i>
    </button>
    <button class="button type1"(click)="scrollToElement('fundacion')">
      fundación
    </button>
    <!-- <button class="button type1"(click)="scrollToElement('vision')">
        vision
      </button>
    <button class="button type1"(click)="scrollToElement('valores')">
      valores
    </button>
    <button class="button type1"(click)="scrollToElement('comision')">
        directiva
      </button>
      -->
  </div>
