

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:190px;
    
}

h3 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    
}


@media (min-width: 900px) {

  .card {
    
    background-image: linear-gradient(25deg, #f8a30549, #967a08, #ac640658, #fabf00a1);
    opacity: 0; 
    border: solid 3px  rgba(255, 251, 240, 0) !important;
    padding: 0 !important;
    margin-bottom: 5rem;
    margin-right: 10px;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.3), /* Sombra sólida */
        0 0 20px rgba(0, 0, 0, 0.2), /* Sombra adicional */
        0 0 30px rgba(0, 0, 0, 0.1); /* Sombra adicional */
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

}

@media (max-width: 600px) {

  .card {
    
    background-image: linear-gradient(25deg, #f8a30549, #967a08, #ac640658, #fabf00a1);
    opacity: 0; 
    border: solid 3px  rgba(255, 251, 240, 0) !important;
    padding: 0 !important;
    margin-bottom: 50rem;
    margin-right: 10px;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.3), /* Sombra sólida */
        0 0 20px rgba(0, 0, 0, 0.2), /* Sombra adicional */
        0 0 30px rgba(0, 0, 0, 0.1); /* Sombra adicional */
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


    margin-bottom: 10px !important;
  }

}

@media (max-width: 600px) and (max-width: 900px) {


  .card {

    margin-bottom: 50rem;
  }


}


@keyframes card {
    from {
      opacity: 0;
      transform: translateX(-600px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }




  .card {animation: card 0.9s forwards 1;
  }
  

.card-body1 {
    background-image: linear-gradient(25deg, #4d3609, #99683a, #9b6825, #301909ab)}

  
.card-body {
    padding: 1.25rem;
 background-image: linear-gradient(25deg, #b46c2e, #cf9967, #c87d1a, #79551f)
}

.card-title {
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #212529;
}

.btn:hover {
    text-decoration: none;
}

.fab {
    font-size: 1.5rem;
}

/* Estilos para los íconos */
.btn-icon {
    font-size: 24px; /* Tamaño del ícono */
    margin: 0 10px; /* Espacio entre los íconos (ajusta según tus preferencias) */
    color: #000000; /* Color negro para todos los íconos */
    transition: transform 0.2s ease, color 0.2s ease; /* Transiciones para transformación y color */
  }
  
  
  /* Efecto de iluminación al pasar el cursor */
  .btn-icon:hover {
    transform: scale(1.2); /* Hace que el ícono sea un poco más grande al pasar el cursor */
    color: #f2eeee; /* Cambia el color del ícono al pasar el cursor (ajusta según tus preferencias) */
  }
  .custom-button {
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    padding: 10px 20px; /* Añade relleno al botón */
    border: none; /* Quita el borde del botón */
    background-color: transparent; /* Fondo transparente */
    color: #070707; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones para efectos */
  
    /* Estilos para el efecto de iluminación al pasar el cursor */
    &:hover {
      /* Hace que el botón sea un poco más grande al pasar el cursor */
      color: #f2eeee; /* Cambia el color del texto al pasar el cursor (ajusta según tus preferencias) */
    }
  }
  

  .row {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }


 
  
  @keyframes moveLight {
    /* Añadimos la propiedad opacity con diferentes valores */
    0% {
      top: -10px;
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
    12.5% {
      top: -10px;
      left: calc(100% - 10px);
      opacity: 0; /* Opacidad mínima */
    }
    25% {
      top: -10px;
      left: calc(100% - 10px);
      opacity: 1; /* Opacidad máxima */
    }
    37.5% {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
      opacity: 0; /* Opacidad mínima */
    }
    50% {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
      opacity: 1; /* Opacidad máxima */
    }
    62.5% {
      top: calc(100% - 10px);
      left: -10px;
      opacity: 0; /* Opacidad mínima */
    }
    75% {
      top: calc(100% - 10px);
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
    87.5% {
      top: -10px;
      left: -10px;
      opacity: 0; /* Opacidad mínima */
    }
    100% {
      top: -10px;
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
}
.card-body1 {
  /* Agrega una sombra con un desplazamiento horizontal y vertical negativo */
  box-shadow: -2px -2px 10px #000000;
}

/* Cambia la sombra al pasar el cursor */
.card-body1:hover {
  /* Quita la sombra para crear el efecto de relieve */
  box-shadow: none;
}
.quienes {
  font-size: 26px; /* Tamaño de fuente deseado */
  /* Fuente en negrita para un efecto más pronunciado */
  text-transform: uppercase; /* Convertir el texto a mayúsculas para mejorar el efecto */
  position: relative; /* Añade posición relativa para los elementos secundarios */
  animation: glow 1.5s ease-in-out infinite; /* Animación de parpadeo */
}

.quienes1 {
  font-size: 26px; /* Tamaño de fuente deseado */
  /* Fuente en negrita para un efecto más pronunciado */
  text-transform: uppercase; /* Convertir el texto a mayúsculas para mejorar el efecto */
  position: relative; /* Añade posición relativa para los elementos secundarios */
  animation: glow 2.5s ease-in-out infinite; /* Animación de parpadeo */
}
.quienes2 {
  font-size: 26px; /* Tamaño de fuente deseado */
  /* Fuente en negrita para un efecto más pronunciado */
  text-transform: uppercase; /* Convertir el texto a mayúsculas para mejorar el efecto */
  position: relative; /* Añade posición relativa para los elementos secundarios */
  animation: glow 3.5s ease-in-out infinite; /* Animación de parpadeo */
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Sombra luminosa alrededor del texto */
  }
  50% {
    text-shadow: none; /* Sin sombra en el punto medio para el parpadeo */
  }
}

.transition-out {
  animation: slide-up 0.5s ease forwards, fade-out 0.5s ease forwards;
  background-color:hsla(0,31%,47%,1);
background-image:
radial-gradient(at 81% 54%, hsla(36,80%,37%,0.93) 0px, transparent 50%),
radial-gradient(at 36% 54%, hsla(30,91%,41%,1) 0px, transparent 50%),
radial-gradient(at 0% 95%, hsla(26,88%,50%,1) 0px, transparent 50%),
radial-gradient(at 91% 58%, hsla(60,40%,64%,0) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 100% 100%, hsla(38,82%,31%,1) 0px, transparent 50%),
radial-gradient(at 25% 3%, hsla(30,77%,24%,1) 0px, transparent 50%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(12%);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;#silver-glow-image {
      position: relative;
      animation: pulse 2s linear infinite;
      border: 2px solid silver;
      border-radius: 10px;
      padding: 5px;
    }
    
    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
    }
    #silver-glow-image {
      position: relative;
      animation: pulse 2s linear infinite;
    
      border-radius: 10px;
      padding: 5px;
    }
    
    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
    }


    
    #silver-glow-image {
      position: relative;
      animation: pulse 2s linear infinite;
      border: 2px solid silver;
      border-radius: 10px;
      padding: 5px;
    }
    
    @keyframes pulse {
      95%, 100% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    }
            
  }
  to {
    opacity: 1;
  }
}


#silver-glow-image {
  position: relative;
  animation: pulse 2s linear infinite;

  border-radius: 10px;
  padding: 5px;
}

@keyframes pulse {
  95%, 100% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* anuncio */

.card20 {
  
  background-color:rgb(157, 146, 83, 60%); /* Color de fondo de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espacio alrededor de la tarjeta */
  box-shadow: -2px -2px 10px #000000;
  width: 100%; /* Ancho de la tarjeta */
  margin: auto; /* Centrar la tarjeta */
  margin-bottom: 20px;
}

.announcement {
  text-align: center;
}

.announcement h1 {
  font-size: 24px;
  color: #333; /* Color del título */
  margin-bottom: 10px; /* Espacio entre el título y el subtítulo */
}

.announcement h2 {
  font-size: 18px;
  color: #666; /* Color del subtítulo */
  animation: blink 1s infinite alternate; /* Animación para hacer titilar el subtítulo */
}

.highlight {
  font-size: 20px; /* Tamaño de fuente */
  color: #fafcfa; /* Color de resaltado */
  font-weight: bold; /* Negrita */
  animation: blink 1s infinite alternate; /* Animación para hacer titilar */
}

.explanation {
  text-align: center; /* Alineación del texto explicativo */
  opacity: 0; /* Inicialmente oculto */
  animation: slide-in 1s forwards; /* Animación de entrada */
}

.explanation p {
  font-size: 16px;
  color: #030303; /* Color del texto */
  margin-bottom: 10px;
}

.explanation a {
  display: block;
  color: #ffffff; /* Color del enlace */
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

.explanation a:hover {
  text-decoration: underline;
}

.announcement button {
  background-color: #4CAF50; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave al cambiar de color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.announcement button:hover {
  background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



