<div class="container d-flex justify-content-center align-items-center">
    <div class="card  col-11 col-sm-10 col-md-8 col-lg-5">
        <button class="card-body1 custom-button" (click)="loadQuienesSomos()">
    <h3 class="*">NUESTRO TRABAJO</h3>
        </button>
        <img src="../../../../../assets/presentacion/pres1.JPG" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
        <div class="card-body">
            <h5 class="card-title">ASOCIACION MISERICORDIA</h5>
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-container">
                    <a href="https://www.facebook.com/AsociacionCivilMisericordia" class="btn-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="icon-container">
                    <a href="https://twitter.com/TwitterHandle" class="btn-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                  </div>
                  <div class="icon-container">
                    <a href="https://www.youtube.com/user/YourYouTubeChannel" class="btn-icon" target="_blank"><i class="fab fa-youtube"></i></a>
                  </div>
                  <div class="icon-container">
                    <a href="https://wa.me/PhoneNumber" class="btn-icon" target="_blank"><i class="fab fa-whatsapp"></i></a>
                  </div>
                  <div class="icon-container">
                    <a href="https://www.instagram.com/YourInstagramAccount" class="btn-icon" target="_blank"><i class="fab fa-instagram"></i></a> <!-- Ícono de Instagram -->
                  </div>
                  
                  
            </div>
        </div>
    </div>
