

<div *ngIf="mostrarAnimacionInicial"> <app-logo-inicial></app-logo-inicial></div> 
<div *ngIf="mostrarAnimacionCierre" >  <app-logocierreFinal></app-logocierreFinal></div>
<app-logo></app-logo>

<div class="row fondo d-flex justify-content-center align-items-center" id="quienes">

    <div class=" col-8 col-sm-10 col-md-8 col-lg-12 card ">
    <div class="card20">
        <div class="announcement">
          <h1>ENTRA E INSCRIBITE</h1>
          <h2>ES FÁCIL...</h2>
          <p class="highlight">CENTROS DE PRIMERA INFANCIA</p>
          <div class="explanation">
            <p>LOS CPI son espacios de cuidado, crianza y aprendizaje para niñas y niños entre 1 a tres años en situación de vulnerabilidad social.</p>
          </div>
          <button type="button" (click)="cambiarComponente('anuncio')">mas información</button>
        </div>
      </div>

      
    </div>
      
      
      
      
    <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">

        
        
        <button class="card-body1 custom-button" (click)="cambiarComponente('quienesSomos')">
    <h3 class="quienes2"><div class="light-point"></div>QUIENES SOMOS</h3>
        
        <img src="../../../../../assets/presentacion/pres3.jpg" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
    </button>
        </div>
       
        <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
            <button class="card-body1 custom-button" (click)="cambiarComponente('historia')">
        <h3 class="quienes"><div class="light-point"></div>HISTORIA</h3>
            
            <img src="../../../../../assets/presentacion/pres1.JPG" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
        </button>
            </div>
            <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
                <button class="card-body1 custom-button" (click)="cambiarComponente('objetivos')">
            <h3 class="quienes1"><div class="light-point"></div>OBJETIVOS</h3>
                
                <img src="../../../../../assets/presentacion/pres2.jpg" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
            </button>
            
                </div>
                <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
                    <button class="card-body1 custom-button" (click)="cambiarComponente('trabajo')">
                <h3 class="quienes"><div class="light-point"></div>TRABAJO</h3>
                    
                    <img src="../../../../../assets/presentacion/pres4.jpg" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
                </button>
                
                    </div>
                    <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
                        <button class="card-body1 custom-button" (click)="cambiarComponente('actividad')">
                    <h3 class="quienes"><div class="light-point"></div>EDUCACIÓN</h3>
                        
                        <img src="../../../../../assets/presentacion/pres5.png" class="card-img-top img-fluid rounded-top border shadow-sm mb-0" alt="Jelo 1">
                    </button>
                    
                        </div>

                        <div class="col-8 col-sm-10 col-md-8 col-lg-2 card">
                            <button class=" custom-button" (click)="cambiarComponente('ayuda')">
                              <h3 class="quienes">
                                <div class=""></div>PARTICIPAR
                              </h3>
                              <img src="../../../../../assets/AYUDANOS/IMG_1331kjhl.png" class="card-img-top" alt="Jelo 1" id="silver-glow-image" >
                            </button>
                          </div>
                        <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
                            <button class="custom-button" (click)="cambiarComponente('contacto')">
                        <h3 class="quienes"><div></div>CONTACTO</h3>
                            
                            <img src="../../../../../assets/presentacion/pres6.png" class="card-img-top" alt="Jelo 1" id="silver-glow-image">
                        </button>
                        
                            </div>
                  
                      
                            <div class=" col-8 col-sm-10 col-md-8 col-lg-2 card ">
        
                                <button class="custom-button" (click)="cambiarComponente('donar')">
                            <h3 class="quienes"><div></div>DONAR</h3>
                                
                                <img src="../../../../../assets/educacion/in.png" class="card-img-top" alt="Jelo 1" id="silver-glow-image">
                            </button>
                            
                                </div>
                      
                      
                      
     
    </div>

    
    