<div class="container" >
    <button class="button type1" (click)="scrollToElement('ayuda')">
        <i class="material-icons">home</i>
    </button>
    <button class="button type1"(click)="scrollToElement('socios')">
      socios
    </button>
     <button class="button type1"(click)="scrollToElement('insumos')">
        insumos
      </button>
   <!-- <button class="button type1"(click)="scrollToElement('valores')">
      valores
    </button>
    <button class="button type1"(click)="scrollToElement('comision')">
        directiva
      </button>
      -->
  </div>

