<div *ngIf="mostrarAnimacionInicial"> <app-logo-inicial></app-logo-inicial></div> 
<div *ngIf="mostrarAnimacionCierre" >  <app-logocierreFinal></app-logocierreFinal></div>

<div class="row uno colorFondo  align-items-center" media="(orientation: landscape) and (min-device-width: 320px) and (max-device-width: 480px)"   id="actividad"[ngClass]="{'desaparecerColorFondo': colorFondoDesparecer, 'aparecerColorFondo ': colorFondoAparecer}">
  <div class="col-12 col-xs-12 col-sm-10 col-md-11 col-lg-8">
    <!-- Texto sobre nosotros -->
    <div class="texto" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">
      <h1 id="sobre" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}"><p class="p1">INSCRIPCIONES 2024</p>
      </h1>
      
        <p class="important-text">Los Centros de Primera Infancia (CPI) son espacios destinados al cuidado, crianza y aprendizaje de niñas y niños de entre 1 y 3 años que se encuentran en situación de vulnerabilidad social.</p>
        <p>Estos centros ofrecen una jornada completa y brindan tres comidas al día (desayuno, almuerzo y merienda). Las inscripciones se realizan los miércoles y viernes de 9 a 11 horas en la siguiente dirección:</p>
        <p class="important-text">Alberti 1674, entre Inclán y Av. Garay.</p>
    </div>
  </div>
 
   
  <div class="col-10 col-xs-6 col-sm-10 col-md-11 col-lg-3">
      <!-- Imagen con bordes redondeados -->
     
        <div class="contafoto" [ngClass]="{'desaparecerFondo': shouldDisappear, 'aparecerFondo': shouldAppear}">
          <img src="../../../../../assets/educacion/jardin.png" alt="Imagen de la asociación" class="img-fluid img1"
            [ngClass]="{'desaparecer': shouldDisappear, 'aparecer': shouldAppear}">
          
        </div>
      
        <br><br><br><br>
        <div class="col-12 col-xs-12 col-sm-10 col-md-11 col-lg-12">

        <app-boton-de-contacto></app-boton-de-contacto>
      </div>
