<div class="row fondo d-flex justify-content-center align-items-center">
    <div class="col-12 d-flex flex-column align-items-center logo-container">
      <img src="../../../../assets/imagen/logo.png" alt="Logo de la ONG" class="logo-img">
      <div class="light-point"></div>
      <span class="association-link ti">ASOCIACION MISERICORDIA</span>
    
    <div class=" d-flex redes justify-content-center align-items-center">
      <div class="icon-container association-link">
        <a href="https://www.facebook.com/AsociacionCivilMisericordia" class="btn-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="icon-container association-link">
        <a href="https://twitter.com/TwitterHandle" class="btn-icon" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="icon-container association-link">
        <a href="https://www.youtube.com/user/YourYouTubeChannel" class="btn-icon" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="icon-container association-link">
        <a href="https://wa.me/PhoneNumber" class="btn-icon" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </div>
      <div class="icon-container association-link">
        <a href="https://www.instagram.com/YourInstagramAccount" class="btn-icon" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      
    </div>
    <app-libro class="flecha association-link"></app-libro>
  

</div>

  </div>
  