<div class="row fondo d-flex justify-content-center align-items-center">
    <div class="col-12 d-flex flex-column align-items-center logo-container">
      <img src="../../../../assets/imagen/logo.png" alt="Logo de la ONG" class="logo-img">
      <div class="light-point"></div>
      <div id="typewriter">
        <p class="bold" id="text" [ngClass]="{'centered': !animationCompleted}">{{ message }}<span class="cursor" [ngStyle]="{'display': animationCompleted ? 'none' : 'inline'}">|</span></p>
      
      </div>
      
      
      
      
    
  


    <app-libro class="flecha association-link"></app-libro>
  

</div>

  </div>
  