
<div class="row uno colorFondo  align-items-center" media="(orientation: landscape) and (min-device-width: 320px) and (max-device-width: 480px)"   id="nosotros"[ngClass]="{'desaparecerColorFondo': colorFondoDesparecer, 'aparecerColorFondo ': colorFondoAparecer}">
  <div class="col-12 col-xs-10 col-sm-10 col-md-11 col-lg-4">
    <!-- Texto sobre nosotros -->
    <div class="texto" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">
      <h1 id="sobre" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}"><p class="p1">SOBRE NOSOTROS</p>
      </h1>
      <p class="p"> La Asociación Misericordia es una asociación civil sin fines de lucro que tiene como objetivo principal brindar
        asistencia y garantizar derechos a niños en situación de riesgo, ya sean de bajos recursos, abandonados o
        excluidos de sus familias.</p>
    </div>
  </div>
  <div class="col-12 col-sm-7 col-md-6 col-lg-5">
    <!-- Imagen con bordes redondeados -->
   
      <div class="contfoto" [ngClass]="{'desaparecerFondo': shouldDisappear, 'aparecerFondo': shouldAppear}">
        <img src="../../../../assets/quienesSomos/nosotros.JPG" alt="Imagen de la asociación" class="img-fluid img1"
          [ngClass]="{'desaparecer': shouldDisappear, 'aparecer': shouldAppear}">
        <app-img-quienes *ngIf="show"></app-img-quienes>
      </div>
    
  </div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-3">
    <div class="texto1" [ngClass]="{'desaparecerTexto1': shouldDisappear, 'aparecerTexto1': shouldAppear}">

      <p class="p a"> Nuestra obra está dirigida a toda la comunidad.</p>

    </div>
  </div>
  
 

</div>

<section class="" >
  <app-mision id="mision"></app-mision>





</section>

<section class="dos misions section-content" id="vision">
  <app-vision></app-vision>
</section>


<section class="dos misions section-content" id="valores">
  <app-valores></app-valores>
</section>

<section class="dos misions section-content" id="comision">
  <app-comision> </app-comision>
</section>

<div class="flotante">
  <app-boton-flotante></app-boton-flotante>
</div>