/* .changeDivSize {
  height: 50px;
  border: solid 1px red;
  margin: 15px;
  width: 50px;
  height: 50px;
} */

.fondo {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  background-image: url("../../../../assets/imagen/fotos.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  filter: brightness(84%) opacity(99%);
}

.title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 136.5px;
  text-align: center;
}

.subtitle {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 136.5px;
  text-align: center;
}
