* {

  background-color: hsla(0, 100%, 50%, 0.03);
  background-image: radial-gradient(at 50% 1%, hsla(60, 0%, 100%, 0.06) 0px, transparent 50%),
                    radial-gradient(at 96% 10%, hsla(17, 100%, 98%, 0.09) 0px, transparent 50%),
                    radial-gradient(at 81% 49%, hsla(339, 100%, 95%, 0.24) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, hsla(32, 36%, 64%, 0.45) 0px, transparent 50%),
                    radial-gradient(at 80% 100%, hsla(23, 100%, 69%, 0.26) 0px, transparent 50%),
                    radial-gradient(at 9% 64%, hsla(22, 89%, 47%, 0.1) 0px, transparent 50%);
}
.title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 136.5px;
  text-align: center;
}

.subtitle {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 136.5px;
  text-align: center;
}




html{
  width: 100vw; /* 100% del ancho del viewport */
  height: 100vh; /* 100% de la altura del viewport */
}