

* {
    padding: 0%;
    margin: 0%;
}

.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 4px solid #bd8008;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

span {
    z-index: 999;
    height: 1px;
    margin:2px;
    width: 10px;
    background: #bd8008;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 35%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 35%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}
.round {
    padding: 40px 40px 40px 40px ;
    background-color: rgba(0, 0, 0, 0.774);
    box-shadow:
    0px 0px 26.5px rgba(0, 0, 0, 0.436),
    0px 0.1px 50px rgba(0, 0, 0, 0.436),
    0px 0.6px 64.4px rgba(0, 0, 0, 0.408),
    0px 2px 42px rgba(0, 0, 0, 0.37)
  ;
}

