<div class="container" >
    <button class="button type1" (click)="scrollToElement('trabajo')">
        <i class="material-icons">home</i>
    </button>
    <button class="button type1"(click)="scrollToElement('odontología')">
      Odontología
    </button>
<!-- <button class="button type1"(click)="scrollToElement('participar')">
        Participar      </button> -->
      <!--
    <button class="button type1"(click)="scrollToElement('valores')">
      valores
    </button>
    <button class="button type1"(click)="scrollToElement('comision')">
        directiva
      </button>
      -->
  </div>

