
<div class="row uno">
  <div class="col-12 col-md-4">
      <!-- Texto sobre nosotros -->
      <div class="texto" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">
          <h1 id="sobre"[ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">VISION</h1>
          <p>Trabajamos para que las infancias tengan un entorno de crecimiento feliz y seguro -libre de violencias- donde puedan desarrollar todas sus potencialidades y prepararse para el futuro. </p>
      </div>
  </div>
  <div class="col-12 col-md-5" >
      <!-- Imagen con bordes redondeados -->
      <div class="contfoto"[ngClass]="{'desaparecerFondo': shouldDisappear, 'aparecerFondo': shouldAppear}" >
        <img src="../../../../../assets/quienesSomos/vision.jpg" alt="Imagen de la asociación" class="img-fluid img1" [ngClass]="{'desaparecer': shouldDisappear, 'aparecer': shouldAppear}">
      </div>
      </div>
  <div class="col-12 col-md-3">
  <div class="texto1" [ngClass]="{'desaparecerTexto1': shouldDisappear, 'aparecerTexto1': shouldAppear}">
         
          <p> Nuestra obra está dirigida a toda la comunidad.</p>
          
      </div></div>
       
     
    <div class="col-12 col-md-1 container"(click)="valoreScroll()"[ngClass]="{'botdesaparecer': botonvDesaparecer, 'botAparecer':botonvAparecer}" >
      <button class="button type1">
        VISION
      </button>
    
      <!-- (click)="toQuienessomos()" routerLink="/quienesomos" role="button" routerLinkActive="active" -->
  </div>

  
</div>

<div class="row">

<p>Valores 

  * Respeto por el interés superior de en el cumplimiento de todos sus derechos. 
  
  * Profesionalismo y calidad en la implementación de nuestras acciones. 
  
  * Transparencia en la administración de los recursos. 
  
  * Trabajo coordinado con las Instituciones de gestión pública y privada que comparten nuestra visión. 
  * Compromiso y responsabilidad con nuestro equipo de trabajo, Socios, voluntarios, proveedores. 
  
  2 Comisión Directiva: 
  
   
  
  PRESIDENTA 
  
  PAOLA MAFFEI 
  
   
  
  SECRETARIO 
  
  MARCELO CELI 
  
   
  
  TESORERA 
  
  MARCELA TOMADIN 
  
   
  
  VICEPRESIDENTE 
  
  MARCELO ZARZA 
  
   
  
  VOCALES 
  
  DIANA GIUDICE  
  
  LEANDRO RISEZ 
  
   
  
  VOCALES SUPLENTES 
  
  MARCELA CAMPI </p>

</div>