* {
  max-width: 100%;
  height: auto;
}
.row {
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}

.row.uno {
  position: -webkit-sticky; /* Para Safari */
  position: sticky;
  top: 0;
  padding: 0%;
  margin-top: -100px;
  padding: -100px;
  justify-content: center;
  display: flex;

 
}
.texto, .texto1 {
  font-size: 2vw; /* Ajusta este valor según sea necesario */
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 1.5vw; /* Ajusta este valor según sea necesario */
}
html { scroll-behavior: auto !important }
#secc {
  scroll-margin-top: 50px;
  width: 100%;
  height: 100vh;
}

h1 {
  color: rgb(212, 93, 9);
  font-size: 40px;
  line-height: 1.5;
  margin-top: 0px !important;
}

/* Esto se aplicará si el ancho de la ventana de visualización es de 600px o menos */
@media (max-width: 600px) {
  h1 {
    font-size: 38px; /* La mitad del tamaño original */
    margin-bottom: -600px !important;
    
  }
  h1 {
  color: rgb(212, 93, 9);
  font-size: 28px;
  line-height: 1.5;
  margin-top: 50px !important;
}
}

@keyframes comisionAparecer {
  from {
    opacity: 0;
    transform: translateX(-600px);

  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.comisionAparecer{
  animation: comisionAparecer 2s forwards 1;
}

@keyframes comisionDesaparecer {
  from {
    opacity: 1;
    transform: translateX(0px);

  }
  to{
    opacity: 0;
    transform: translateX(-600px);
  }
}
.comisionDesaparecer{
  animation: comisionDesaparecer 1.4s forwards 1;
}





/* animacion card */
@keyframes aparecerPresidenta {
  from {
    opacity: 0;
    transform: translateX(-600px) rotate(7deg);
    /* inclinar la imagen 75 grados */
   
  }
  to {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  
  }
}
.aparecerPresidenta {
  animation: aparecerPresidenta 1.4s forwards 1;
}


@keyframes desaparecerPresidenta {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-600px);

  }
}

.desaparecerPresidenta {
  animation: desaparecerPresidenta 1.3s forwards;
}

/* animacion card */
@keyframes aparecerVicePresidente {
    from {
      opacity: 0;
      transform: translateX(-600px) rotate(7deg);
      /* inclinar la imagen 75 grados */
     
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }
  .aparecerVicePresidente  {
    animation: aparecerVicePresidente 1s forwards 1;
  }

  
  .aparecerSecretario  {
    animation: aparecerVicePresidente 0.8s forwards 1;
  }
  
  @keyframes desaparecerVicePresidente  {
    from {
      opacity: 1;
      transform: translateX(0px);
    }




    to {
      opacity: 0;
      transform: translateX(-600px);
    }
  }
  
  .desaparecerSecretario {
    animation: desaparecerVicePresidente  1.9s forwards;
  }
  .desaparecerVicePresidente  {
    animation: desaparecerVicePresidente  1.6s forwards;
  }
  


  /* animacion card */
@keyframes aparecerTesorera{
    from {
      opacity: 0;
      transform: translateX(600px) rotate(7deg);
      /* inclinar la imagen 75 grados */
     
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }
  .aparecerTesorera {
    animation: aparecerTesorera 0.8s forwards 1;
  }
  
  
  @keyframes desaparecerTesorera {
    from {
      opacity: 1;
      transform: translateX(0px);
    }
    to {
      opacity: 0;
      transform: translateX(600px);
    }
  }
  
  



  .desaparecerTesorera  {
    animation: desaparecerVicePresidente  2.s forwards;
  }
  

  /* animacion card */
  @keyframes aparecerVocal{
    from {
      opacity: 0;
      transform: translateX(-600px) rotate(7deg);
      /* inclinar la imagen 75 grados */
     
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }
  .aparecerVocal {
    animation: aparecerVocal 1.1s forwards 1 
              
  }


  @keyframes aparecerVocalSuplente{
    from {
      opacity: 0;
      transform: translateX(-600px) rotate(7deg);
      /* inclinar la imagen 75 grados */
     
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }

  .aparecerVocalSuplente {
    animation: aparecerVocalSuplente 1.2s forwards 1;
  }
  
  


  @keyframes aparecerRevisor{
    from {
      opacity: 0;
      transform: translateX(600px) rotate(7deg);
      /* inclinar la imagen 75 grados */
     
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }

  .aparecerRevisor {
    animation: aparecerRevisor 2.2s forwards 1;
  }
  
  
  .row.uno {
    background-color: rgb(169, 169, 169,20%);
      padding: 5%;
      width: 100vw; /* 100% del ancho del viewport */
      height: 100vh; /* 100% de la altura del viewport */
      align-items: center;
    }
    




/* Estilo para las tarjetas */
.card {

  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 400px; /* Ajusta el valor según sea necesario */
  margin: 0 auto; /* Centrar las tarjetas */
  font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
  padding: 5px;
  margin-bottom: 20px;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(252, 248, 33, 0.3); /* Color de fondo con transparencia */
  border-radius: 12px; /* Bordes redondeados */
  border: 1px solid rgba(209, 213, 219, 0.3); /* Borde con transparencia */
  background-color:hsla(0,0%,90%,1);
  background-image:
  radial-gradient(at 100% 0%, hsla(37,0%,100%,0.7) 0px, transparent 50%),
  radial-gradient(at 1% 16%, hsla(48,57%,83%,1) 0px, transparent 50%),
  radial-gradient(at 63% 31%, hsla(339,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 97% 5%, hsla(43,93%,48%,0.79) 0px, transparent 50%),
  radial-gradient(at 31% 100%, hsla(49,100%,56%,0.34) 0px, transparent 50%),
  radial-gradient(at 73% 29%, hsla(343,0%,100%,1) 0px, transparent 50%)
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Efecto de relieve más pronunciado al pasar el cursor */
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 10;
}

.card-title {
    margin-bottom: 5px;
}

.card-text{
  font-size: 20px ;


}
@media (max-width: 576px) {
  .row.uno .card-title,
  .row.uno .card-text {
    max-width: 400px;
    max-height: 70px;
      font-size: 14px; /* Ajusta el valor según sea necesario */

  }

  .row.uno .card {
      max-width: 300px; /* Ajusta el valor según sea necesario */
      max-height: 80px;
      margin:2px; /* Ajusta el valor según sea necesario */
      
  }
}

.card-body1 {
  overflow-wrap: break-word;  /* Permite que las palabras se rompan y pasen a la siguiente línea */
  word-wrap: break-word;  /* Lo mismo que overflow-wrap, pero para navegadores más antiguos */
  word-break: break-word;  /* Permite que las palabras se rompan si son demasiado largas para caber en su contenedor */
 
}
