/* estilo boton donacion */
.donacion {
  display: inline-block;
  margin: 20px;
  padding: 10px 10px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(194, 63, 23, 0.1);
  border-radius: 20px;
  border: none;
  text-align: center;
  animation: pulse 0s infinite;
  overflow: hidden;
  /* Ocultamos el contenido que se desborde */
  position: relative;
  /* Establecemos la posición relativa para los elementos hijos */
}

.donacion:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), #fff, rgba(255, 255, 255, 0.5));
  animation: move-bar 1s infinite ease-in-out;
}

@keyframes move-bar {
  50% {
    transform: translateX(5);
  }

  100% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(300%);
    opacity: 0;
  }

  50% {
    transform: translateX(-300%);
    opacity: 0;
  }

  50% {
    transform: translateX(-100%);
  }

  0% {
    transform: translateX(0);
  }
}

@keyframes pulse {

  0%,
  50% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  20%,
  0% {
    box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
  }

  90%,
  100% {
    box-shadow: 0 0 0 0 rgba(232, 248, 7, 0);
  }

}


.donacion:hover:after,
.donacion:focus:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 9s infinite;
  opacity: 0;
}