<ng-container *ngIf="sharedServiceService.currentComponent === 'pres1' || sharedServiceService.currentComponent === 'default'">
    <app-pres1></app-pres1>
  </ng-container>
  
      <ng-container *ngIf="sharedServiceService.currentComponent === 'quienesSomos'">
        <app-quienes-somos></app-quienes-somos>
      </ng-container>
  
      <ng-container *ngIf="sharedServiceService.currentComponent === 'donar'">
        <app-boton-de-pago></app-boton-de-pago>
      </ng-container>
  
      <ng-container *ngIf="sharedServiceService.currentComponent === 'trabajo'">
        <app-trabajo></app-trabajo>
      </ng-container>
  
  
      <ng-container *ngIf="sharedServiceService.currentComponent === 'historia'">
        <app-nuestra-historia></app-nuestra-historia>
      </ng-container>
  
      <ng-container *ngIf="sharedServiceService.currentComponent === 'objetivos'">
        <app-objetivos></app-objetivos>
      </ng-container>