

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h3 {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    
}

.card {
    border: radius 5px;
    width: 10 rem;
    opacity: 0; 
    margin: 10.5rem;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.3), /* Sombra sólida */
        0 0 20px rgba(0, 0, 0, 0.2), /* Sombra adicional */
        0 0 30px rgba(0, 0, 0, 0.1); /* Sombra adicional */
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




@keyframes card {
    from {
      opacity: 0;
      transform: translateX(-600px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .card {animation: card 0.9s forwards 1;
  }
  

.card-body1 {
    background-image: linear-gradient(25deg, #4d3609, #99683a, #9b6825, #301909)}

  
.card-body {
    padding: 1.25rem;
 background-image: linear-gradient(25deg, #b46c2e, #cf9967, #c87d1a, #79551f)
}

.card-title {
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.btn {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #212529;
}

.btn:hover {
    text-decoration: none;
}

.fab {
    font-size: 1.5rem;
}

/* Estilos para los íconos */
.btn-icon {
    font-size: 24px; /* Tamaño del ícono */
    margin: 0 10px; /* Espacio entre los íconos (ajusta según tus preferencias) */
    color: #000000; /* Color negro para todos los íconos */
    transition: transform 0.2s ease, color 0.2s ease; /* Transiciones para transformación y color */
  }
  
  
  /* Efecto de iluminación al pasar el cursor */
  .btn-icon:hover {
    transform: scale(1.2); /* Hace que el ícono sea un poco más grande al pasar el cursor */
    color: #f2eeee; /* Cambia el color del ícono al pasar el cursor (ajusta según tus preferencias) */
  }
  .custom-button {
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    padding: 10px 20px; /* Añade relleno al botón */
    border: none; /* Quita el borde del botón */
    background-color: transparent; /* Fondo transparente */
    color: #070707; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    transition: transform 0.3s ease, color 0.3s ease; /* Transiciones para efectos */
  
    /* Estilos para el efecto de iluminación al pasar el cursor */
    &:hover {
      /* Hace que el botón sea un poco más grande al pasar el cursor */
      color: #f2eeee; /* Cambia el color del texto al pasar el cursor (ajusta según tus preferencias) */
    }
  }
  

  .container {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  }


  .light-point {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0) 28%);
    border-radius: 50%;
    animation: moveLight 3s linear infinite;
  }
  
  @keyframes moveLight {
    /* Añadimos la propiedad opacity con diferentes valores */
    0% {
      top: -10px;
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
    12.5% {
      top: -10px;
      left: calc(100% - 10px);
      opacity: 0; /* Opacidad mínima */
    }
    25% {
      top: -10px;
      left: calc(100% - 10px);
      opacity: 1; /* Opacidad máxima */
    }
    37.5% {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
      opacity: 0; /* Opacidad mínima */
    }
    50% {
      top: calc(100% - 10px);
      left: calc(100% - 10px);
      opacity: 1; /* Opacidad máxima */
    }
    62.5% {
      top: calc(100% - 10px);
      left: -10px;
      opacity: 0; /* Opacidad mínima */
    }
    75% {
      top: calc(100% - 10px);
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
    87.5% {
      top: -10px;
      left: -10px;
      opacity: 0; /* Opacidad mínima */
    }
    100% {
      top: -10px;
      left: -10px;
      opacity: 1; /* Opacidad máxima */
    }
}
