html { scroll-behavior: auto !important }
#secc {
  scroll-margin-top: 50px;
  width: 100%;
  height: 100vh;
}

h1 {
  color: rgb(212, 93, 9);
  ;
  ;
}



.row.uno {
  background: #BCF6EF;
  background: -moz-linear-gradient(-45deg, #BCF6EF 0%, #F7FFEC 21%, #FFDBCE 100%);
  background: -webkit-linear-gradient(-45deg, #BCF6EF 0%, #F7FFEC 21%, #FFDBCE 100%);
  background: linear-gradient(135deg, #BCF6EF 0%, #F7FFEC 21%, #FFDBCE 100%);

  overflow: hidden;
  padding: 5%;
  width: 100vw; /* 100% del ancho del viewport */
  height: 100vh; /* 100% de la altura del viewport */
  align-items: center;
}

/* Estilos para pantallas pequeñas (menos de 600px de ancho) */
@media (max-width: 600px) {
  .img2 * {
    font-size: 17px;
  }
}

/* Estilos para pantallas medianas (entre 600px y 900px de ancho) */
@media (min-width: 600px) and (max-width: 900px) {
  .img2 * {
    font-size: 18px;
  }
}

/* Estilos para pantallas grandes (más de 900px de ancho) */
@media (min-width: 900px) {
  .img2 * {
    font-size: 24px;
  }
}
.texto {
  margin:20
}


/* Animación para aparecer en el componente MisionComponent */
@keyframes aparecerTextoMision {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.aparecerTextoMision {
  animation: aparecerTextoMision 1s forwards 1;
}

/* Animación para desaparecer en el componente MisionComponent */
@keyframes desaparecerTextoMision {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(-600px);
  }
}

.desaparecerTextoMision {
  animation: desaparecerTextoMision 1s forwards;
}

/* Animación de aparecer para la imagen en el componente MisionComponent */
@keyframes aparecerImagenMision  {
  from {
    opacity: 0;
    transform: translateX(600px) rotate(0deg);
    /* inclinar la imagen 75 grados */
    border: 5px solid black;
  }
  to {
    opacity: 1;
    transform: translateX(0px) rotate(7deg);
    border: 5px solid black;
  }
}
.img2 {
  animation: aparecerImagenMision 1s forwards 1;
}

/* Animación de desaparecer para la imagen en el componente MisionComponent */


@keyframes desaparecer {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(600px);
  }
}

.desaparecer {
  animation: desaparecer 1s forwards;
}
/* animacion fondo */
@keyframes aparecerFondo {
  from {
    opacity: 0;
    transform: translateX(600px) rotate(0deg);
    /* inclinar la imagen 75 grados */
   
  }
  to {
    opacity: 1;
    transform: translateX(0px) rotate(7deg);
  
  }
}
.aparecerFondo {
  animation: aparecerFondo 0.4s forwards 1;
}


@keyframes desaparecerFondo {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(600px);
  }
}

.desaparecerFondo {
  animation: desaparecerFondo 2.6s forwards;
}



/*lina decortaiva*/


/*boton flotante para secciones*/
.scroll-button {
  display: flex;
  /* crear un contenedor flexible */
  justify-content: center;
  /* alinear los elementos hijos en el centro horizontalmente */
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.scroll-button:hover {
  background-color: #0056b3;
}

p {
  font-size: 30px;
}

p {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
H1{
font-size: 40px;
line-height: 1.5;
}

.dos {
  width: 100vw;
  height: 100vh;
}

.caja {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#contfoto1 {
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-bottom: 11px dashed rgb(28, 110, 164,08%);
  border-radius: 1500px 33px 1500px 133px;
  
  background-color:rgba(171, 247, 243, 0.3);
  display: flex; /* crear un contenedor flexible */
  justify-content: center; /* alinear los elementos hijos en el centro horizontalmente */
  align-items: center; 
  /* alinear los elementos hijos en el centro verticalmente */
}

.img2 {


  border-radius: 50px !important;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.5);

  width: 600px;
  height: auto;
  
}

/*boton*/ 
:root {
  --color: black;
  --body-color: #ecf0f1;
  --color1: #566473;
  --color2: #16a085;
  --color3: #435a6b;
  --color4: red;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Raleway;
  background-color: var(--body-color);
}

.copyright {
  position: absolute;
  bottom: 0;
}

.copyright a {
  text-decoration: none;
  color: var(--color2);
}

.copyright a:hover {
  text-decoration: underline;
}




.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

.type1 {
  color: var(--color1);
}

.type1::after,
.type1::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: var(--color1);
  border-right-color: var(--color1);
}

.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: var(--color1);
  border-left-color: var(--color1);
}

.type1:hover::after,
.type1:hover::before {
    width:100%;
    height:100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  margin-top: 0;
}

.botAparecer {

  opacity: 1;
  transform: translateX(0);
  transition: opacity 2s, transform 2s;
}


.botdesaparecer {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 2s, transform 2s;
 
}


/*control color fondo*/
@keyframes aparecerColorFondo {
  from {
    opacity: 0;
   
  }
  to {
    opacity: 1;
   
  }
}
.colorFondo {animation: aparecerColorFondo 1.9s forwards 1;
}

/* Animación para desaparecer */
@keyframes desaparecerColorFondo {
  from {
    opacity: 1;
    
  }
  to {
    opacity: 0;
    
  }
}


/* Aplicar la animación de desaparecer cuando el elemento tiene la clase 'desaparecer' */
.desaparecerColorFondo  {
  animation: desaparecerColorFondo 1s forwards;
}