
<div class="container ">
    <div class="row">
        <div class="col-12">
            <!-- Subtítulo destacado -->
            <p class="subtitulo destacado">Nuestra Historia</p>
          </div>
          
    <div class="col-12">
  <div class="">

    
<p>3. Nuestra Historia:

    Contar nuestra historia es poner de manifiesto una suma de vocaciones personales que, mancomunadas por un mismo ideal solidario, trabajan día a día por una niñez más justa y digna. La Asociación Misericordia (Asociación sin fines de lucro) fue fundada en el año 1993 por el Padre Khalil Henaoui, con el objetivo de crear un hogar para niños en situación de vulnerabilidad a fin de ofrecerles la asistencia necesaria para su desarrollo.
    
    En el año 1994 nació el Hogar Misericordia y en el año 2002 nació el Hogar Madre de Misericordia, creciendo por la necesidad de otro espacio para niños. En el año 2011 nació el CPI Medalla Milagrosa y a lo largo de estos 30 años hemos recibido en nuestros hogares a más de 1500 niños.
    
    4. Objetivos:
    
    * Brindar un espacio a Niñas, Niños, y Adolescentes” procurando proveer la atención de sus necesidades básicas de alimentación, vivienda y vestimenta, según las posibilidades físicas y económicas de la Asociación.
    
    * Brindar a las niñas, niños y adolescentes, todos los beneficios propios de la vida familiar con la asistencia afectiva que ello implica.
    
    * Propiciar la participación ciudadana y la organización social en un espacio común tendiente a garantizar la inclusión social, cultural y los derechos humanos, así como el brindar asistencia a aquellas poblaciones en situación de vulnerabilidad.


  </div>
</div>
