
<div *ngIf="mostrarAnimacionInicial"> <app-logo-inicial></app-logo-inicial></div> 
<div *ngIf="mostrarAnimacionCierre" >  <app-logocierreFinal></app-logocierreFinal></div>

<div class="row uno colorFondo  align-items-center" media="(orientation: landscape) and (min-device-width: 320px) and (max-device-width: 480px)"   id="historia"[ngClass]="{'desaparecerColorFondo': colorFondoDesparecer, 'aparecerColorFondo ': colorFondoAparecer}">
  <div class="col-12 col-xs-10 col-sm-10 col-md-11 col-lg-4">
    <!-- Texto sobre nosotros -->
    <div class="texto" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">
      <h1 id="sobre" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}"><p class="p1">NUESTRA HISTORIA</p>
      </h1>
      <p class="p"> Contar nuestra historia es poner de manifiesto una suma de vocaciones personales que, mancomunadas por un mismo ideal solidario, trabajan día a día por una niñez más justa y digna.</p>
    </div>
  </div>
  <div class="col-12 col-sm-7 col-md-6 col-lg-4">
    <!-- Imagen con bordes redondeados -->
   
      <div class="contfoto" [ngClass]="{'desaparecerFondo': shouldDisappear, 'aparecerFondo': shouldAppear}">
        <img src="../../../../assets/imagen/padre.JPG" alt="Imagen de la asociación" class="img-fluid img1"
          [ngClass]="{'desaparecer': shouldDisappear, 'aparecer': shouldAppear}">
        
      </div>
    
  </div>
  <div class="col-12 col-sm-10 col-md-10 col-lg-3">
    <div class="texto1" [ngClass]="{'desaparecerTexto1': shouldDisappear, 'aparecerTexto1': shouldAppear}">

      <p class="p a">La Asociación Misericordia (Asociación sin fines de lucro) fue fundada en el año 1993 por el Padre Khalil Henaoui, con el objetivo de crear un hogar para niños en situación de vulnerabilidad a fin de ofrecerles la asistencia necesaria para su desarrollo.</p>
   
    </div>
  </div>
  
 


</div>

<section class="" >
  <app-fundacion id="fundacion"></app-fundacion>
</section>

<!-- <section class="dos misions section-content" id="vision">
  <app-vision></app-vision>
</section>


<section class="dos misions section-content" id="valores">
  <app-valores></app-valores>
</section>

<section class="dos misions section-content" id="comision">
  <app-comision> </app-comision>
</section> -->

<div class="flotante">
  <app-boton-flotante-historia></app-boton-flotante-historia>
</div>