
<div class="row uno colorFondo elemento siempre-visible  d-flex justify-content-center align-items-center" [ngClass]="{'desaparecerColorFondo': shouldDisappear, 'aparecerColorFondo ': shouldAppear}">
    <div class="col-11 col-sm-10 col-md-9 col-lg-4">
        <!-- Texto sobre nosotros -->
        <div class="texto" [ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">
            <h1 id="sobre"[ngClass]="{'desaparecerTexto': shouldDisappear, 'aparecerTexto': shouldAppear}">PARTICIPAR</h1>
            <p class="p">Propiciar la participación ciudadana y la organización social en un espacio común tendiente a garantizar la inclusión social, cultural y los derechos humanos, así como el brindar asistencia a aquellas poblaciones en situación de vulnerabilidad. </p>
        </div>
    </div>
    <div class="col-12 col-sm-7 col-md-5 col-lg-4" >
        <!-- Imagen con bordes redondeados -->
        <div class="contfoto"[ngClass]="{'desaparecerFondo': shouldDisappear, 'aparecerFondo': shouldAppear}" >
          <img src="../../../../../../assets/OBJETIVOS/IMG_1316.JPG" alt="Imagen de la asociación" class="img-fluid img1" [ngClass]="{'desaparecer': shouldDisappear, 'aparecer': shouldAppear}">
        </div>
        </div>
   
  
    
  </div>
