<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'hidden': !isVisible, 'visible': isVisible}" id="deco">
    <div class="container-fluid estilo  ">
        <a class="navbar-brand my-custom-navbar logo-center" role="button"  (click)="volverAPres1()">
            <div class="d-flex align-items-center section-conten">
              <img src="../../../../assets/imagen/logo.png" alt="Logo de la ONG" class="logo-img ">
              <div class="d-none d-md-inline-block ml-2">
                <span class="association-link">ASOCIACION</span>
                <span class="association-link1">MISERICORDIA</span>
              </div>
            </div>
          </a>

         <!-- <div>
           
                <button class="donacion  d-lg-none" (click)="cambiarComponente('donar');">
                    <p id="estiloA">DONAR </p>
                </button>
            </div> -->
        <div class="casilla d-lg-none" role="button" (click)="toggleSubMenu()">
                <fa-icon [icon]="faBars" class="custom-icon fa-fw"></fa-icon>
        </div>
         

        <div class="collapse navbar-collapse " [ngClass]="{ collapse: isCollapsed }" id="navbarSupportedContent">
            <div class="line-divider  d-lg-none"></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">

                <li class="nav-item dropdown ">
                    <button class="nav-link full-width-btn w-100" id="navbarDropdown1" data-bs-toggle="dropdown"
                        data-bs-submenu aria-expanded="false">
                        <fa-icon [icon]="['fas', 'house']" id="icon-house"></fa-icon> QUIENES SOMOS
                    </button>
                    <div class="line-divider d-lg-none "></div>
                    <ul class="dropdown-menu sub  nav-link "  [ngClass]="{ collapse: isCollapsed }"
                        aria-labelledby="navbarDropdown1" id="submenu">

                        <li><button class="nav-link nav1" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="cambiarComponente('quienesSomos'); isCollapsed = !isCollapsed">
                                Nosotros</button></li>
                               <div id="lineaSub"></div>
                      <li><button class="nav-link nav3" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false"
                                (click)="cambiarComponente('trabajo'); isCollapsed = !isCollapsed"
                                >Trabajo</button></li>



                        <div id="lineaSub"></div>
                        <li><button class="nav-link nav2" id="myButton" id="navbarDropdown1" data-bs-toggle="dropdown"
                                data-bs-submenu aria-expanded="false"
                                (click)="cambiarComponente('historia'); isCollapsed = !isCollapsed">
                                 Historia</button>
                        </li>
                        <div id="lineaSub"></div>
                        <li><button class="nav-link nav3" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false"
                                (click)="cambiarComponente('objetivos'); isCollapsed = !isCollapsed"
                                >Objetivos</button></li>
                                
                    </ul>

                </li>

               <div class="line-divider  d-lg-none"></div>
                <li class="nav-item dropdown ">
                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                        data-bs-submenu aria-expanded="false"><fa-icon [icon]="faHourglassEnd"
                            id="icon-Hourglass"></fa-icon> EDUCACIÓN
                    </a>
                    <div class="line-divider  d-lg-none "></div>
                    <ul class="dropdown-menu sub nav-link" [ngClass]="{ collapse: isCollapsed }"
                        aria-labelledby="navbarDropdown1" id="submenu">

                        <li><button class="nav-link full-width-btn w-100 nav1" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="cambiarComponente('actividad'); isCollapsed = !isCollapsed" >Programa</button></li>
                        <div id="lineaSub"></div>
                        <li><button class="nav-link nav2" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="cambiarComponente('ayuda'); isCollapsed = !isCollapsed">Participar</button>
                        </li>
                        <!-- <div id="lineaSub"></div>
                        <li><button class="nav-link nav3" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">item 3</button></li> -->
                    </ul> 
<!--
                </li> -->
                <div class="line-divider  d-lg-none" ></div>
                <!-- <li class="nav-item">
                    <a class="nav-link full-width-btn w-100" aria-current="page" id="navbarDropdown1" role="button"
                    (click)="cambiarComponente('actividad'); isCollapsed = !isCollapsed"><fa-icon [icon]="faUsers" class="fa-xs"
                            id="icon-faUsers" ></fa-icon> EDUCACIÓN</a>

                </li> -->

                    <div class="line-divider  d-lg-none"></div>
                    <!-- <ul class="dropdown-menu sub nav-link " [ngClass]="{ collapse: isCollapsed }"
                        aria-labelledby="navbarDropdown2 " id="submenu">
                        <li><button class="nav-link nav3" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false"
                                (click)="cambiarComponente('actividad'); isCollapsed = !isCollapsed">Actividad</button></li> -->
                        <!-- <div id="lineaSub"></div>
                        <li><button class="nav-link nav1" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">Participar</button></li>
                        <div id="lineaSub"></div>
                        <li><button class="nav-link nav2" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="cambiarComponente('quienesSomos'); isCollapsed = !isCollapsed">item
                                2</button></li>
                        <div id="lineaSub"></div> -->
                    <!-- </ul>

                </li> -->
                <li class="nav-item">
                    <a class="nav-link full-width-btn w-100" aria-current="page" id="navbarDropdown1" role="button"
                    (click)="cambiarComponente('fotos'); isCollapsed = !isCollapsed"><fa-icon [icon]="faUsers" class="fa-xs"
                            id="icon-faUsers" ></fa-icon> FOTOS</a>

                </li>
                <div class="line-divider  d-lg-none"></div>
                <li class="nav-item">
                    <a class="nav-link full-width-btn w-100" aria-current="page" id="navbarDropdown1" role="button"
                    (click)="cambiarComponente('contacto'); isCollapsed = !isCollapsed"><fa-icon [icon]="faUsers" class="fa-xs"
                            id="icon-faUsers" ></fa-icon> CONTACTOS</a>

                </li>
                <div class="line-divider  d-lg-none "></div>
            </ul>
            <form class="d-flex ml-auto">
                <button class="donacion" (click)="cambiarComponente('donar'); isCollapsed = !isCollapsed">
                    <p id="estilob">DONAR AQUÍ</p>
                </button>
            </form>
        </div>
    </div>
</nav>
