.my-custom-navbar {
  height: 80px; /* Ajusta la altura de tu navbar según tus necesidades */
}

/* Agrega margen superior a las secciones de destino */
.section-content {
  margin-top: 80px; /* Asegúrate de que el margen coincida con la altura del navbar */
}


/* Estilos para el navbar en orientación horizontal */
@media screen and (min-width: 768px) {
  nav.navbar {
  
    top: 0;
    z-index: 1000;
    width: 100%;
    /* Ajusta el valor de padding según tus necesidades */
    padding: 0;
  }

  ul.dropdown-menu.sub.nav-link {
    position: absolute;
    z-index: 1001;
    /* Ajusta el top y left según sea necesario para que el submenu esté debajo del navbar */
    top: 160%;
    left: 10;
    /* Ajusta el valor de width según tus necesidades */
    width: 200px;
  }
}


/* CSS */
.nav-link {
  font-size: 18px !important;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  /* Ajusta el valor para obtener la apariencia deseada */
 
  transition: all 0.2s;
  font-size: 18px !important;
  /* Color del texto */
  color: rgb(48, 43, 2) !important;
  /* Quitar color de fondo */
  background-color: transparent;
  /* Quitar borde */
  border: none;
  /* Espacio entre el texto y el borde */
  padding: 5px;
  /* Transición suave de 0.3 segundos */
  transition: 0.3s;
}

 

.casilla {
  font-size: 1rem;
  /* Cambiar el tamaño del icono a 2rem */
  
  padding: 0%;
  color: rgba(16, 16, 16, 0.8);
  /* Cambiar el color del icono a rojo (#ff0000) */
  width: 40px;
  display: flex;
  align-items: center;

}

/* Ajusta tamaños de las líneas de los iconos menus */

.custom-icon {
  font-size: 30px;
  /* Tamaño personalizado que desees */
  stroke-width: 1.5px;
  /* Grosor de las líneas, puedes ajustarlo según tu preferencia */
}

#icon-house {
  font-size: 25px;
  stroke-width: 1.5px;
  margin-right: 9px;
  /* espacio margen derecho*/
}
.full-width-btn {
  width: 100%;
  /* Ajusta otros estilos del botón según tus preferencias */
  text-align: left;
}




#icon-Hourglass {
  font-size: 25px;
  padding-left: 5px;
  margin-right: 14px;
  /* espacio margen derecho*/
  

}

#icon-faPerson {
  font-size: 28px;
  padding-left: 5px;
  margin-right: 18px;
  /* espacio margen derecho*/

}

#icon-faUsers {
  font-size: 25px;
  padding-bottom: 0px;
  margin-right: 5px;

}

.line-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* Cambiar el color y estilo de la línea según tus preferencias */
  margin: 2px 0;
  /* Ajustar el espaciado entre las líneas */
}




.nav-link1 {
  font-size: 15x !important;
  /* Color del texto */
  color: black !important;
  /* Quitar color de fondo */
  background-color: transparent;
  /* Quitar borde */
  border: none;
  /* Espacio entre el texto y el borde */
  padding: 10px 20px;
  /* Transición suave de 0.3 segundos */
  transition: 0.3s;
}

/* sombreado del navbar*/
.navbar {
  box-shadow:
    2px 2px 5px rgba(185, 183, 183, 0.3),
    -2px -2px 5px rgba(218, 208, 208, 0.3);

}

/* boton adaptativo a formatos mas chicos*/

.navbar {
  backdrop-filter: blur(40px);
  /* Aplicar un desenfoque de 5px */
  -webkit-backdrop-filter: blur(5px);
  /* Prefijo para navegadores webkit */
  opacity: 0.9;
  /* Reducir la opacidad del navbar */
}


/* Estilo para el ícono cuando se pasa el cursor por encima */


.nav-link {
  position: relative;
}

.nav-link:hover::before {

  content: "";
  position: absolute;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  background-color: rgba(255, 255, 255, 0.2);
  /* Color del destello */
  border-radius: 20%;
  /* Hace que el borde tenga forma circular */

  filter: blur(5px);
  /* Agrega un efecto de difuminado */

}

.navbar-brand img {
  width: auto;
  height: 3rem;
}

/*submenu distancia entre botones */
@media (min-width: 992px) {
  
  .dropdown-menu {
    box-shadow:
      1px 8.8px 4.6px -19px rgba(0, 0, 0, 0.156),
      2.3px 20.5px 11.5px -19px rgba(0, 0, 0, 0.15),
      4.7px 42.9px 21.9px -19px rgba(0, 0, 0, 0.146),
      9.1px 82.3px 38.5px -19px rgba(0, 0, 0, 0.157),
      13.4px 122px 67.7px -19px rgba(0, 0, 0, 0.186),
      17.4px 157.8px 131.6px -19px rgba(0, 0, 0, 0.236),
      21px 191px 363px -19px rgba(0, 0, 0, 0.31);

      background-image: linear-gradient(2deg, #fc930062, hwb(30 33% 3% / 0.407), rgb(255, 254, 2500.1), rgba(186, 127, 38, 0.915))    /* Otros estilos */
   
    /* ... */
   }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 991px) {
   .dropdown-menu {
     box-shadow:
       /* Valores más suaves para el sombreado */
       /* ... */
  6px 32px 15px -19px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(30px); /* Desenfoque más sutil */
     /* Otros estilos */
     /* ... */
     background-color: rgba(104, 104, 8, 0.13);
  
     
   }
}

/* velocidad de desplazmiento submenu*/
.sub {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  visibility: hidden;

}

.sub.show {
  max-height: 10rem;
  /* o cualquier valor que cubra todo el contenido del submenu */
  visibility: visible;


}

#lineaSub { height: 6px; /* Ajusta el grosor de la línea según tus necesidades */ 
  background-image: linear-gradient(to right, rgba(243, 238, 238, 9.8), transparent); /* Imagen degradada de dorado a transparente */
   background-position: 3 center left; /* Alinea el degradado a la izquierda */
    background-repeat: repeat-x; /* Repite el degradado horizontalmente */
    margin-top: 15px; 
  }

button.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Ajusta la alineación horizontal */
}



/* separacion de menu  */
.vr-blurry {
  width: 3px;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, #ccc, transparent);
}

/* logo */
.logo-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left:40px ;
}
/* texto logo*/
.association-link {
  line-height: 1.5;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: rgb(35, 35, 34); /* Cambia el color a dorado */
  margin-left: 5px;
  margin-top: 0px; /* Ajusta el margen superior según tu preferencia */
}
.association-link1 {
  line-height: 1.5;
  display: block;
  text-align: center;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: rgb(35, 35, 34); /* Cambia el color a dorado */
  margin-left: 20px;
  margin-top: -10px; /* Ajusta el margen superior según tu preferencia */

}

/*animacion boton */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-10%);
    margin-left: 36px;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    margin-left: 36px;
  }
}

/* Aplica la animación a los elementos de menú */
.dropdown-menu ,
.nav1,
.nav2,
.nav3 {
  animation: slideInFromTop 0.7s forwards 1;
}

/* Duración de la animación para pantallas grandes */
@media (min-width: 992px) {
 
  .nav1 {
    animation-duration: 0.5s;
  }
  .nav2 {
    animation-duration: 0.7s;
  }
  .nav3 {
    animation-duration: 0.9s;
  }
}

/* Duración de la animación para pantallas pequeñas */
@media (max-width: 991px) {

 
  .nav1 {
    animation-duration: 1.3s;
  }
  .nav2 {
    animation-duration: 1.6s;
  }
  .nav3 {
    animation-duration: 1.8s;
  }
}

.nav1,
.nav2,
.nav3 {
  animation: slideInFromTop 1s forwards 1;
  animation-fill-mode: forwards;
}



/*boton donar*/
/* estilo boton donacion */
.donacion {
  
  display: inline-block;
  margin: 20px;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(80, 10, 10);
  border-radius: 10px;
  border: none;
  text-align: center;
  animation: pulse 0s infinite;
  overflow: hidden;
  /* Ocultamos el contenido que se desborde */
  position: relative;
  /* Establecemos la posición relativa para los elementos hijos */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}



.donacion:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), #fff, rgba(255, 255, 255, 0.5));
  animation: move-bar 1s infinite ease-in-out;

}

@keyframes move-bar {
  50% {
    transform: translateX(5);
  }

  100% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(300%);
    opacity: 0;
  }

  50% {
    transform: translateX(-300%);
    opacity: 0;
  }

  50% {
    transform: translateX(-100%);
  }

  0% {
    transform: translateX(0);
  }
}

@keyframes pulse {

  0%,
  50% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }

  20%,
  0% {
    box-shadow: 0 0 0 10px rgba(40, 167, 69, 0);
  }

  90%,
  100% {
    box-shadow: 0 0 0 0 rgba(232, 248, 7, 0);
  }

}


.donacion:hover:after,
.donacion:focus:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 9s infinite;
  opacity: 0;
}

/*estilo boton mercado pago */
#estiloA{
  font-size: 10px;
  color:rgb(214, 137, 21);
font-family: 'Lato', sans-serif;
font-weight: bolder;
}
#estilob{

  
color:rgb(214, 137, 21);
font-family: 'Lato', sans-serif;
font-weight: bolder;

}

.donacion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}


#deco{
  background-image: linear-gradient(2deg, #fc930062, hwb(30 33% 3% / 0.407), rgb(255, 254, 2500.1), rgba(186, 127, 38, 0.915))

}

#navbarDropdown1{
 font-size: 17px !important;

}