<nav class="navbar navbar-expand-lg">
    <div class="container-fluid estilo">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/imagen/logo.png" alt="Logo de la ONG" class="logo-img">
            <span class="association-link">ASOCIACION </span>
            <span class="association-link1"> MISERICORDIA</span>
        </a>
      
        <div class="casilla d-md-none" role="button" (click)="toggleSubMenu()">
            <fa-icon [icon]="faBars" class="custom-icon fa-fw"></fa-icon>
        </div>
       
        <div class="collapse navbar-collapse" [ngClass]="{ collapse: isCollapsed }" id="navbarSupportedContent">
            <div class="line-divider  d-md-none"></div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                
               <li class="nav-item">
    <button class="nav-link full-width-btn w-100" id="navbarDropdown1" data-bs-toggle="dropdown"
        data-bs-submenu aria-expanded="false" (click)="loadQuienesSomos(); isCollapsed = !isCollapsed">
        <fa-icon [icon]="['fas', 'house']" id="icon-house"></fa-icon> <span>QUIENES SOMOS</span>
    </button>
    <div class="line-divider  d-md-none"></div>
</li>

                <div class="line-divider  d-md-none"></div>
                <li class="nav-item dropdown ">
                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
                        data-bs-submenu aria-expanded="false"><fa-icon [icon]="faHourglassEnd"
                            id="icon-Hourglass"></fa-icon> NUESTRO TRABAJO
                    </a>
                    <div class="line-divider  d-md-none "></div>
                    <ul class="dropdown-menu sub nav-link" [ngClass]="{ collapse: isCollapsed }"
                        aria-labelledby="navbarDropdown1" id="submenu">

                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">item 1</button></li>
                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="loadDonar(); isCollapsed = !isCollapsed">item 2</button>
                        </li>
                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">item 3</button></li>
                    </ul>
                    
                </li>
                <div class="line-divider  d-md-none"></div>
                <li class="nav-item dropdown">
                    <button class="nav-link full-width-btn w-100" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
                        data-bs-submenu aria-expanded="false"> <fa-icon [icon]="faPerson" id="icon-faPerson"></fa-icon>
                        ACTIVIDAD
                    </button>

                    <div class="line-divider  d-md-none"></div>
                    <ul class="dropdown-menu sub nav-link" [ngClass]="{ collapse: isCollapsed }"
                        aria-labelledby="navbarDropdown2" id="submenu">
                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">Noticias</button></li>
                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false">Participar</button></li>
                        <li><button class="nav-link" id="navbarDropdown1" data-bs-toggle="dropdown" data-bs-submenu
                                aria-expanded="false" (click)="loadQuienesSomos(); isCollapsed = !isCollapsed">item
                                2</button></li>
                    </ul>
                   
                </li>
                <div class="line-divider  d-md-none"></div>
                <li class="nav-item">
                    <a class="nav-link full-width-btn w-100" aria-current="page" href="#participar"
                        (click)="isCollapsed = !isCollapsed"><fa-icon [icon]="faUsers" class="fa-xs"
                            id="icon-faUsers"></fa-icon> CONTACTOS</a>
                   
                </li>
                <div class="line-divider  d-md-none "></div>
            </ul>
            <form class="d-flex ml-auto">
                <button class="donacion" (click)="loadDonar(); isCollapsed = !isCollapsed">DONAR AQUÍ</button>
            </form>
        </div>
    </div>
</nav>
